body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

h1 {
    font-size: 60px;
}

.clock {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    color: aliceblue;
    background-color: rgb(45,145,245);
}